
body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

#app {
    background: url("../img/background.jpg")
}

.card-main:hover {
  box-shadow: 0 0 10px rgba(240, 223, 74, 0.968);
}

.card-main.planet:hover {
  box-shadow: 0 0 10px rgba(186, 44, 44, 0.968);
}

.card-main.vehicle:hover {
  box-shadow: 0 0 20px rgba(39, 56, 172, 0.968);
}

.card-main.species:hover {
  box-shadow: 0 0 20px rgba(55, 159, 31, 0.968);
}

.card-main {
  background: rgb(7, 7, 7);
  border-radius: 10px;
  color:rgb(181, 196, 196)
}

.peopleComponents, .vehicleComponents, .speciesComponents, .planetComponents{
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
}

.dropdown-menu {
  background: black;
  color:rgb(201, 200, 196)
}



