:root {
  /* COLORS */
  --BACKGROUND-GRAY:rgb(29, 30, 31);
}

body {
  font-family: "roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-image: url("../img/background.jpg");
  background-size: cover;
  
}

#app {
    background: url("../img/background.jpg")
}

.card-main:hover {
  box-shadow: 0 0 10px rgba(240, 223, 74, 0.968);
}

.card-main.planet:hover {
  box-shadow: 0 0 10px rgba(186, 44, 44, 0.968);
}

.card-main.vehicle:hover {
  box-shadow: 0 0 20px rgba(39, 56, 172, 0.968);
}

.card-main.species:hover {
  box-shadow: 0 0 20px rgba(55, 159, 31, 0.968);
}

.card-main {
  background: var(--BACKGROUND-GRAY);
  border-radius: 10px;
  color:rgb(181, 196, 196)
}

.scroll-container {
  max-width: 100%;
  max-height: 100%; 
  overflow-x: auto; 
  background-color: black;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.8);
}

.card-unit {
  background: var(--BACKGROUND-GRAY);
}

.peopleComponents, .vehicleComponents, .speciesComponents, .planetComponents{
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
}

.dropdown-menu {
  background: var(--BACKGROUND-GRAY);
  color:rgb(201, 200, 196)
}



