
body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

#app {
    background: url("../img/background.jpg")
}

.card-main:hover {
  box-shadow: 0 0 10px rgba(240, 223, 74, 0.968);
}

.card-main {
  background: rgb(201, 200, 196);
  border-radius: 10px;
}

.peopleComponents {
  color: rgb(247, 247, 179);
}
